#main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNVV9ZsIqKLHB8VmpnJsMhvBk-VfWqia-2RANgSySYmJnYHACW);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}